body{
    background:linear-gradient(rgb(6, 6, 240),rgb(110, 110, 250)); 
    background-repeat:no-repeat;
    background-attachment:fixed;
}
h1{
    color:red;
    font-family:"consolas","sans-serif";
    font-weight:bold;
    margin-left:35%;
    font-size:22px
}
button{
    border:0px solid;
    height:50px;
    width:200px;
    animation:slide 1500ms ease;
    animation-fill-mode:forwards;
}
@keyframes slide{
    0%{
        margin-right:150%;
        margin-bottom:0px;
    }
    100%{
        border:4px solid;
        border-radius:25px;
        margin-left:40%;
        margin-bottom:10px;
        background-color:rgb(27, 185, 69);
        font-size:15px;
    }
}
