body{
    margin:0;
}
.section1{
    background:linear-gradient(cyan,greenyellow);
    position:absolute;
    top:0;
    width:100%;
}
.section2{
    background:linear-gradient(greenyellow,orange);
    position:absolute;
    width:100%;
}
.section3{
    background:linear-gradient(orange,pink);
    position:absolute;
    width:100%; 
}
.section4{
    background:linear-gradient(pink,blue);
    position:absolute;
    width:100%; 
}
#version{
    color:yellow;
    animation: version 1s infinite ease-in-out;
    transform: rotate(-38deg);
    margin-top:10%;
    margin-left:70%;
}
#box1{
    width:150px;
    height:150px;
    border:2px solid;
    margin-left: 45%;
    animation: box1 2500ms infinite ease-in-out;
}
#box2{
    width:150px;
    height:150px;
    border:2px solid;
    background-color:skyblue;
    animation: box2 2500ms infinite ease-in-out;
}
#box3{
    height:150px;
    border:2px solid;
    background-color:skyblue;
    animation: box3 2500ms infinite alternate ease-in-out;
}
h1{
    color:tomato;
    font-family:"consolas","sans-serif";
    font-weight:bold;
    font-size:22px
}
button{
    border:0px solid;
    height:50px;
    width:200px;
    animation:slide 1500ms ease forwards;
}
button:hover{
    background-color:lightgray;
    width:210px;
    font-weight: bold;
}
@keyframes slide{
    0%{
        margin-right:150%;
        margin-bottom:10px;
    }
    100%{
        border:2px solid;
        border-radius:25px;
        margin-left:45%;
        margin-bottom:10px;
        font-size:15px;
    }
}
@keyframes box1{
    0%{
        border-radius:0;
        background-color:skyblue;
    }
    50%{
        border-radius:50%;
        background-color:blue;
    }
    100%{
        border-radius:0;
        background-color:skyblue;
    }
}
@keyframes box2{
    0%{
        margin-left:20%;
    }
    50%{
        margin-left:70%;
        border-radius:50%;
        background-color:blue;
        transform:rotate(360deg);
    }
    100%{
        margin-left:20%;
    }
}
@keyframes box3{
    0%{
        width:150px;
        margin-left: 45%;
    }
    50%{
        width:90%;
        margin-left:0;
    }
    100%{
        width:150px;
        margin-left: 45%;
        background-color:blue;
        border-radius:50%;
    }
}
@keyframes version{
    0%{
        font-size:25px;
    }
    50%{
        font-size:30px;
    }
    100%{
        font-size:25px;
    }
}
