body{
    margin:10px;
    background-color:rgb(10, 123, 222);
}
h1{
    color:tomato;
    font-family:"consolas","sans-serif";
    font-weight:bold;
    font-size:22px;
    text-align: center;
}
button{
    border:5px solid;
    height:50px;
    width:200px;
    margin:10px;
    border-radius:20px;
    margin-left:40%;
}
button:hover{
    background-color:lightgray;
    width:210px;
    font-weight: bold;
}
